.typed-cursor {
    color: white;
    margin-left: 10px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@media (min-width: 640px) {
    .typed-cursor {
        font-size: 1.7rem;
    }
}

@media (min-width: 1024px) {
    .typed-cursor {
        font-size: 1.875rem;
    }
}